/** generelt **/

body {
    margin: 0;
    padding: 0;
    /*background-color: #fefdf9;*/
    background-image: url(img/background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

a {
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

a:hover {
    font-weight: bold;
}

.button {
    background-color: #e0cadd;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    cursor: pointer;
}

.button:hover {
    background-color: #c294bb;
    text-decoration: underline;
}


button {
    font-family: 'Poiret One', cursive;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 3rem;
    align-self: center;

}

h2 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;


}

h3 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
}

/** header **/

#logo {
    background-image: url(img/logo.svg);
    background-size: 100%;
    width: 150px;
    height: 40.6px;
    z-index: 100;
    position: fixed;
    top: 1vw;


}

nav {
    /*background-color: #fefdf9;*/
    background-color: #ede2ee;
    height: 55px;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;

}

#menu {
    text-align: right;
    display: flex;
    flex-direction: column;
    /*background-color: #fefdf9;*/
    background-color: #ede2ee;
    width: 100vw;
}

#menu a {
    padding: 2vw 5vw;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
}

#menu a:hover {
    font-weight: bold;
}

#menuknap {
    text-align: right;
    margin: 1vw 5vw;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

/** dropdown**/
.dropdown {
    float: left;
    overflow: hidden;

}


.dropdown .dropbtn {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
    border: none;
    outline: none;
    background-color: inherit;
    margin-right: 3vw;
}

.dropdown:hover .dropbtn {

    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ede2ee;
    width: 100%;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    padding: 2vw 5vw;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/** forside **/

#splash_video {
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 5vh 0 0 0;
}

/*#forside_smykker {
    padding: 2vw;
}*/

#smykker_oversigt {
    display: flex;
    flex-wrap: wrap;
    margin: 3vh 1vh;
    justify-content: center;
    /*justify-content: space-between;*/
}

.forside_smykke {
    height: 160px;
    width: 160px;
    cursor: pointer;
    position: relative;
    margin: 1vh;
    flex-basis: 1;
    flex-grow: 150px;
}

.forside_smykke:hover {
    filter: grayscale(50);
    transform: scale(1.01);
}

.smykker_title {
    background-color: none;
    width: auto;
    padding: 1vh;
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

#forside_ringe {
    background-image: url(img/oversigt_ringe.jpg);
    background-size: 100%;
}

#forside_hals {
    background-image: url(img/oversigt_hals.jpg);
    background-size: 100%;
}

#forside_ore {
    background-image: url(img/oversigt_ore.jpg);
    background-size: 100%;
}

#forside_cuf {
    background-image: url(img/oversigt_cuf.jpg);
    background-size: 100%;
}

#forside_om {
    padding: 15vh 0;
}

#forside_knapper {
    display: flex;
    flex-direction: column;
}

#forside_knapper .button {
    margin: 0.5vh auto;
}

/*#forside_om,
#produkt_detalje,
.slideshow,
#studio {
    background-color: #ffffff90;
    margin: 0 5vw;
    padding: 5vh;
}*/

#om_wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.6rem;
    grid-template-areas:
        "forside_portrait"
        "forside_txt";
}

#forside_portrait,
#about_portrait {
    background-image: url(img/portrait.jpg);
    background-size: 100%;
    /*height: 508.5px;
    width: 450px;*/
    height: 282.5px;
    width: 250px;
    flex-basis: 1;
    flex-grow: 200px;
    grid-area: forside_portrait;
}

#forside_txt {
    grid-area: forside_txt;
}

/** Shop **/

#shop {
    /*Container-element for sidemenu*/
    padding: 100px 0 0 0;
}


#liste {
    /*Her indsættes json dataen*/
    display: grid;
    /*Dataen opstilles vha. grid*/
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    /*Fortæller antal kollonner og bredde på kolonner*/
    grid-gap: 1rem;
    /*Mellemrum mellem kolonnerne*/
    width: 60vw;
    margin: 30px auto;
    padding: 0 0 150px 0;
}

#liste .smykke {
    /*Indhold fra data*/
    text-align: center;
    /*Indholde placeres centralt*/
    cursor: pointer;
    border: none;
    margin: 0 0 20px 0;
}

#sidebar {
    /*Menu i siden*/
    position: fixed;
    /*Menuen sidder fast når man scroller*/
    top: 55px;
    left: 0px;
    display: flex;
    flex-direction: row;
    /*Menuenpunkterne flexer ved siden af hinanden*/
    width: 100vw;
}

#sidebar button {
    margin: 0;
    border: none;
}

.valgt {
    /*Klassen som bliver tilføjet knappen når den er blevet trykket på*/
    background-color: #c294bb;
    color: black;
    font-weight: bold;
}

/** Product **/

.luk {
    position: fixed;
    left: 0;
    top: 60px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#billede_1 {
    position: relative;
}

.prev,
.next {
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    top: 200px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#smykkearticle {
    width: 90vw;
    margin: 150px auto 0;
}

#produkt_pris {
    font-weight: bold;
}

#smykkearticle .button {
    width: 86vw;
    margin: 0;
}

#size_form {
    border: none;
    height: 50px;
}

#size_options {
    height: 40px;
    width: 90vw;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 1rem;
}

/** Custom orders **/

#custom_h1 {
    margin: 15vw 0vw 0vw 15vw;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    float: inherit;
}

.active,
.dot:hover {
    background-color: #717171;
}

#custom_text {
    margin: 0vw 7vw;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width
padding: 12px; /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    height: 5vw;

}


#Custom_slideshow {
    margin: 2vw;
    padding: 2vw;
}

.slideshow-container {
    position: relative;
    justify-content: space-around;
    align-content: center;
    margin: 2vw;
    padding: 7vw;


}

.contact {
    position: relative;
    margin: auto;
    padding: 7vw;
    justify-content: center;

}

.contact_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffffd9;
}

form {
    font-family: 'Poiret One', cursive;
}



/** About **/
#video {
    display: flex;
    flex-direction: column;
    padding-top: 15vw;
}

#about_video {
    width: 100%;
    height: 50vh;
}

#about_wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.6rem;
    grid-template-areas:
        "about_txt"
        "about_portrait"
    ;
}

#about_portrait {
    grid-area: about_portrait;
}

#about_txt {
    grid-area: about_txt;
    margin-top: 5vw;
}

/** Studio **/

#studio {
    margin: 100px 0 0 0;
}

#studio_indhold {
    display: grid;
    grid-gap: 1rem;
    width: 400px;
    margin: auto;
    grid-template-areas:
        "studio_pic1"
        "title"
        "text"
        "studio_pic3"
        "studio_pic7"
        "studio_pic8";
}

#studio_txt {
    grid-area: text;
    width: 400px;
}

#studio h3 {
    grid-area: title;
}

#studio_pic1 {
    background-image: url(studio_img/facade1.JPG);
    background-size: 100%;
    width: 400px;
    height: 133.5px;
    grid-area: studio_pic1;
}

#studio_pic3 {
    background-image: url(studio_img/montre2.JPG);
    background-size: 100%;
    width: 400px;
    height: 267px;
    grid-area: studio_pic3;
}


#studio_pic7 {
    background-image: url(studio_img/butik_hoj.JPG);
    background-size: 100%;
    width: 400px;
    height: 600px;
    grid-area: studio_pic7;
}

#studio_pic8 {
    background-image: url(studio_img/varksted_hoj1.JPG);
    background-size: 100%;
    width: 400px;
    height: 600px;
    grid-area: studio_pic8;
}


/** Forhandlere **/

#forhandler {
    padding: 150px 0 0 0;
    text-align: center;

}

#forhandler_liste {
    /*Her indsættes json dataen*/
    display: grid;
    /*Dataen opstilles vha. grid*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*Fortæller antal kollonner og bredde på kolonner*/
    grid-gap: 1rem;
    /*Mellemrum mellem kolonnerne*/
    width: 60vw;
    margin: 30px auto;
    text-align: left;
}

#forhandler_loop {
    background-color: #ffffff90;
    padding: 1vw;
}

.forhandler {
    margin: 0;
}

/** size Guide**/
#size,
#size2 {
    margin: 15vw 4vw 5vw;
}

/** produkt care **/

#care_text {
    margin: 2vw 6vw;
    padding: 2vw;
    font: 'Poiret One', cursive;
}

#care {
    display: flex;
    flex-wrap: wrap;
}

#care h1 {
    margin: 15vw 0vw 0vw 7vw;
}

#care_billede {
    margin: 6vw;
}

/*
-------FOOTER------*/
footer {
    width: 100%;
    z-index: 100;
    position: relative;
    /**background-image: url(img/lyser%C3%B8d.svg);
    background-size: 100%;**/
    background-color: #ede2ee;

}

.form {
    font-family: 'Poiret One', cursive;
}

.knapper {
    display: flex;
    flex-direction: column;

}

.knapper a {
    border: solid 0.5px #ede2ee;
    padding: 2vw;
    background-color: #e0cadd;

}

.nyhedsbrev {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 6vw;

}

.nyhedsbrev .container {
    display: flex;
    flex-direction: row;
    border: solid 1px #e0cadd;
    background-color: #e0cadd;

}

#email input {
    height: 5vw;
    width: 50vw;
    font-family: 'Poiret One', cursive;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #e0cadd;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    height: 5vw;
    width: 25vw;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    color: black;
}


footer h3 {
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    padding-bottom: 10px;
}

.some {
    display: flex;
    justify-content: center;
    margin: 2vw;

}

footer img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.facebook {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
    background-image: url(img/SVG/facebook.svg);
    background-size: 100%;
    height: 4.6vw;
    width: 5vw;

}

.instagram {
    cursor: pointer;
    background-image: url(img/SVG/instagram.svg);
    background-size: 100%;
    height: 4.9vw;
    width: 5vw;
    margin: auto 3vw;
}


/** media queries **/

@media(min-width: 501px) {

    /** Forside **/

    .forside_smykke {
        width: 250px;
        height: 250px;
    }
}

@media(min-width: 600px) {

    .forside_smykke {
        height: 280px;
        width: 280px;
    }
}

@media(min-width: 700px) {

    /** header **/

    #logo {
        display: block;
        margin: 1vh auto 0;
        width: 300px;
        height: 80.6px;
        position: relative;
        top: 0;
    }

    nav {
        height: 130px;
    }


    #menu {
        visibility: visible;
        flex-direction: row;
        justify-content: center;
    }

    #menu a {
        font-size: 1.1rem;
        padding: 1vw;
    }

    #menuknap {
        display: none;
    }

    /** dropdown**/


    .dropdown .dropbtn {
        font-size: 1.1rem;
        margin: 1vw 0;
    }

    .dropdown:hover .dropbtn {
        font-size: 1.1rem;

    }

    .dropdown-content {
        width: 20%;

    }

    .dropdown-content a {
        text-align: left;
    }

    /** forside **/

    #splash_video {
        right: 0;
        bottom: 0;
        width: 100%;
    }

    #smykker_oversigt {
        width: auto;
        margin: 0 5vw;
    }

    #om_wrapper {
        width: 80vw;
        grid-template-areas:
            "forside_portrait forside_txt";
    }

    #forside_portrait,
    #about_portrait {
        height: 508.5px;
        width: 450px;
    }

    /** shop **/

    #shop {
        padding: 150px 0 0 0;
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "sidebar liste liste liste liste"
    }


    #liste {
        grid-area: liste;
        width: 60vw;
        margin: 0;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    #sidebar {
        position: fixed;
        top: 150px;
        grid-area: sidebar;
        width: 20vw;
        margin: 0;
        flex-direction: column;
        left: 0px;
        height: 100%;
    }

    #sidebar button {
        text-align: left;
        border: none;
        background: none;
    }

    #sidebar button:hover {
        font-weight: bold;
    }

    #liste .smykke:hover {
        transform: scale(1.02);
    }

    /** Product ***/

    .luk {
        top: 130px;
    }

    #smykkearticle {
        width: 75vw;
        margin: 140px auto;
        display: grid;
        grid-gap: 0 1rem;
        grid-template-areas:
            "titel titel"
            "billede_1 beskrivelse"
            "billede_1 fragt"
            "billede_1 info"
            "billede_1 pris"
            "billede_1 size_form"
            "billede_1 knap";
    }

    #produkt_titel {
        grid-area: titel;
    }

    #billede_1 {
        grid-area: billede_1;
        width: 400px;
        margin: 10px;
    }

    #produkt_beskrivelse {
        grid-area: beskrivelse;
        width: 40vw;
    }

    #produkt_fragt {
        grid-area: fragt;
        width: 40vw;
    }

    #produkt_pris {
        grid-area: pris;
    }

    #produkt_info {
        grid-area: info;
    }

    #size_form {
        grid-area: size_form;
        height: 40px;
    }

    #addtocart {
        grid-area: knap;
    }

    #kob {
        grid-area: kob;
    }

    #smykkearticle .button {
        width: 35vw;
        height: 20px;
    }

    #size_options {
        width: 35vw;
    }



}

@media(min-width: 900px) {

    /** forside **/

    #splash_video {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 120vh;
    }

    #smykker_oversigt {
        margin: 0 15vw;
    }

    /** shop **/

    #sidebar {
        /**left: 80px;**/
    }


    /** Custom orders **/

    #Custom_slideshow {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin: auto;
        padding: 1vw;
    }

    .slideshow-container {
        padding: 5vw;
        margin: 0;
        width: 150vw;
        height: 20vw;
    }

    /** About **/


    #about_wrapper {
        margin: 8vw;
        grid-template-areas:
            "about_portrait . about_txt"

        ;
    }

    /** Studio **/

    #studio_indhold {
        width: 800px;
        margin: 200px auto;
        grid-gap: 0.2rem;
        grid-template-areas:
            "title ."
            "studio_pic1 studio_pic1"
            "studio_pic3 text"
            "studio_pic8 studio_pic7";
    }

    #studio_pic1 {
        width: 800px;
        height: 267px;
    }

    /** size Guide**/

    #size {
        margin: 2vw 8vw 5vw;
        display: flex;
        flex-direction: row;
    }

    #size2 {
        margin: 2vw 8vw 5vw;
        display: flex;
        justify-content: center;
    }

    .size_billede {
        width: 40vw;
    }

    #size_overskrift {
        margin: 15vw 8vw 2vw;
    }

    #text2 {
        margin: 0vw 15vw 0vw 10vw;
    }

    /** produkt care **/

    #care_text {
        margin: 2vw 2vw;
        padding: 1vw;
        font: 'Poiret One', cursive;
        width: 50vw;
    }

    #care_wrapper {
        display: flex;
        flex-direction: row;

    }

    #care h1 {
        margin: 15vw 0vw 0vw 3vw;
    }

    #care_billede {
        margin: 1vw;
        width: 40vw;
    }


    /*
-------FOOTER------*/



    .knapper {
        flex-direction: row;
        justify-content: center;

    }

    .knapper a {
        padding: 1vw;
        margin: 0 2vw;

    }

    .nyhedsbrev {
        padding-top: 1vw;

    }

    .nyhedsbrev .container {
        border: solid 0.5px #e0cadd;


    }

    #email input {
        height: 2.5vw;
        width: 40vw;
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        height: 2.5vw;
        width: 20vw;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        color: black;
    }


    footer h3 {
        font-size: 2rem;
        font-family: 'Poiret One', cursive;
        padding-bottom: 10px;

    }

    .some {
        display: flex;
        justify-content: center;
        margin: 2vw;

    }

    .facebook {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        cursor: pointer;
        background-image: url(img/SVG/facebook.svg);
        background-size: 100%;
        height: 1.6vw;
        width: 2vw;

    }

    .instagram {
        cursor: pointer;
        background-image: url(img/SVG/instagram.svg);
        background-size: 100%;
        height: 1.9vw;
        width: 2vw;
        margin: auto 3vw;
    }

}

@media(min-width: 1000px) {

    /** Studio **/
    /*#studio_indhold {
        width: 80vw;
    }*/

}

@media(min-width: 1200px) {

    /** Studio **/

    /*#studio_indhold {
        width: 95vw;
        margin: 200px auto;
        grid-gap: 0.2rem;
        grid-template-areas:
            "title . ."
            "text studio_pic1 studio_pic2"
            "studio_pic8 studio_pic3 studio_pic7"
            "studio_pic8 studio_pic3 studio_pic7"
            "studio_pic4 studio_pic5 studio_pic6";
    }*/

    #smykker_oversigt {
        margin: 0;
    }

}
