/** generelt **/

body {
    margin: 0;
    padding: 0;
    background-color: #fffdf3;
}

.hidden {
    visibility: hidden;
}

/** header **/

#logo {
    background-image: url(img/logo.svg);
    background-size: 100%;
    width: 200px;
    height: 77.3px;
    display: none;
}


nav {
    background-color: #c194bb;
    height: 8vh;
    width: 100vw;
    position: fixed;

}

#menu {
    text-align: right;
    display: flex;
    flex-direction: column;
    background-color: #c194bb;
    width: 100vw;
}

#menu a {
    padding: 2vw 5vw;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;


}

#menu a:hover {
    color: #fffdf3;
}

#menuknap {
    text-align: right;
    margin: 1vw 5vw;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

/** Custom orders **/

/** media queries **/

@media(min-width: 700px) {

    /** header **/

    #logo {
        display: block;
    }


    #menu {
        visibility: visible;
        flex-direction: row;
        justify-content: center;
    }

    #menu a {
        font-size: 1.1rem;
        padding: 1vw;
    }

    #menuknap {
        display: none;
    }
}
