/** generelt **/

body {
    margin: 0;
    padding: 0;
    /*background-color: #fefdf9;*/
    background-image: url(img/background.png);
    background-size: 100%;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

a {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

a:hover {}

.button {
    background-color: #e0cadd;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
}

.button:hover {
    background-color: #c294bb;
}

button {
    font-family: 'Poiret One', cursive;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

/** header **/

#logo {
    background-image: url(img/logo.svg);
    background-size: 100%;
    width: 300px;
    height: 80.6px;
    display: none;
}

nav {
    /*background-color: #fefdf9;*/
    background-color: #ede2ee;
    height: 55px;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;

}

#menu {
    text-align: right;
    display: flex;
    flex-direction: column;
    /*background-color: #fefdf9;*/
    background-color: #ede2ee;
    width: 100vw;
}

#menu a {
    padding: 2vw 5vw;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

#menu a:hover {}

#menuknap {
    text-align: right;
    margin: 1vw 5vw;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

/** footer **/

footer {
    background-image: url(img/footer_img2.svg);
    background-size: 100%;
    width: 100%;
    height: 229px;
}

/** forside **/

#splash_video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}

#forside_smykker {
    padding: 2vw;
}

#smykker_oversigt {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    margin: 5vh auto;
    justify-content: space-between;
}

.forside_smykke {
    height: 220px;
    width: 220px;
    cursor: pointer;
    position: relative;
    margin: 1vh auto;
}

.forside_smykke:hover {
    filter: grayscale(50);
    transform: scale(1.01);
}

.smykker_title {
    background-color: none;
    width: 200px;
    padding: 1vh;
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 3rem;
}

#forside_ringe {
    background-image: url(img/oversigt_ringe.jpg);
    background-size: 100%;
}

#forside_hals {
    background-image: url(img/oversigt_hals.jpg);
    background-size: 100%;
}

#forside_ore {
    background-image: url(img/oversigt_ore.jpg);
    background-size: 100%;
}

#forside_cuf {
    background-image: url(img/oversigt_cuf.jpg);
    background-size: 100%;
}

#forside_om {
    padding: 15vh 0;
}

#om_wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.6rem;
    grid-template-areas:
        "forside_portrait"
        "forside_txt";
}

#forside_portrait {
    background-image: url(img/portrait.jpg);
    background-size: 100%;
    height: 508.5px;
    width: 450px;
    flex-basis: 1;
    flex-grow: 200px;
    grid-area: forside_portrait;
}

#forside_txt {
    grid-area: forside_txt;
}

/** Shop **/

#shop {
    /*Container-element for sidemenu*/
    padding: 100px 0 0 0;
}


#liste {
    /*Her indsættes json dataen*/
    display: grid;
    /*Dataen opstilles vha. grid*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*Fortæller antal kollonner og bredde på kolonner*/
    grid-gap: 1rem;
    /*Mellemrum mellem kolonnerne*/
    width: 60vw;
    margin: 30px auto;
}

#liste .smykke {
    /*Indhold fra data*/
    text-align: center;
    /*Indholde placeres centralt*/
    cursor: pointer;
    border: none;
    margin: 0 0 20px 0;
}

#sidebar {
    /*Menu i siden*/
    position: fixed;
    /*Menuen sidder fast når man scroller*/
    top: 55px;
    left: 0px;
    display: flex;
    flex-direction: row;
    /*Menuenpunkterne flexer ved siden af hinanden*/
    width: 100vw;
}

.valgt {
    /*Klassen som bliver tilføjet knappen når den er blevet trykket på*/
    background-color: #8DA187;
    color: black;
}

/** Product **/

.luk {
    position: fixed;
    left: 0;
    top: 60px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#smykkearticle {
    width: 90vw;
    margin: 150px auto 0;
}

#produkt_pris {
    font-weight: bold;
}

#smykkearticle .button {
    width: 90vw;
}

/** Custom orders **/

/** About **/
#video {
    display: flex;
    flex-direction: column;
}

#about_video {
    height: 60vh;
}

/** media queries **/

@media(min-width: 700px) {

    /** header **/

    #logo {
        display: block;
        margin: 1vh auto 0;
    }

    nav {
        height: 130px;
    }


    #menu {
        visibility: visible;
        flex-direction: row;
        justify-content: center;
    }

    #menu a {
        font-size: 1.1rem;
        padding: 1vw;
    }

    #menuknap {
        display: none;
    }

    /** forside **/

    .forside_smykke {
        height: 280px;
        width: 280px;
    }

    #om_wrapper {
        width: 80vw;
        grid-template-areas:
            "forside_portrait forside_txt";
    }

    /** shop **/

    #shop {
        padding: 150px 0 0 0;
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "sidebar liste liste liste liste"
    }


    #liste {
        grid-area: liste;
        width: 60vw;
        margin: auto;
    }

    #sidebar {
        position: fixed;
        top: 12vw;
        grid-area: sidebar;
        width: 20vw;
        margin: 0;
        flex-direction: column;
        left: 8vw;
    }

    #sidebar button:hover {
        transform: scale(1.03);
    }

    #liste .smykke:hover {
        transform: scale(1.02);
    }

    /** Product ***/

    .luk {
        top: 130px;
    }

    #smykkearticle {
        margin: 170px 5vw;
        display: grid;
        grid-gap: 0 1rem;
        grid-template-areas:
            "titel titel"
            "billede_1 beskrivelse"
            "billede_1 fragt"
            "billede_1 info"
            "billede_1 pris"
            "billede_1 knap";
    }

    #produkt_titel {
        grid-area: titel;
    }

    #billede_1 {
        grid-area: billede_1;
        width: 40vw;
        margin: 10px;
    }

    #billede_2 {
        grid-area: billede_2;
    }

    #produkt_beskrivelse {
        grid-area: beskrivelse;
        width: 40vw;
    }

    #produkt_fragt {
        grid-area: fragt;
        width: 40vw;
    }

    #produkt_pris {
        grid-area: pris;
    }

    #produkt_info {
        grid-area: info;
    }

    #addtocart {
        grid-area: knap;
    }

    #kob {
        grid-area: kob;
    }

    #smykkearticle .button {
        width: 40vw;
        height: 20px;
    }
}

/*
-------FOOTER------*/
footer {
    background-color: #ede2ee;
    height: 8vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
}

form {
    border: 3px solid #f1f1f1;
    font-family: Arial;

}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}
